
.general-container{
    
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    height: 50vh;
    margin-inline: 10rem;
    row-gap: 10px;
    
    
    
}
.sentence-container{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;   
}

.switch-sentence{
    grid-row-start: 2;
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--text-color);
    color: var(--main-bg-color);
    font-weight: 700;
    width:fit-content;
    border: none;
    align-self: center;
    justify-self: center;

    
   


}
.switch-sentence.prev{
grid-column-start: 1;

    

}
.switch-sentence.next{
    grid-column-start: 3;
    
}
table{
    text-align: center;
    width:100%;
   height: 100%;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    border-radius: 1rem;
    background-color: rgb(231, 247, 253);
    color: var(--main-bg-color);
    }


td{
    padding: 0.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    }
    

.top-buttons{
  grid-column-start:2 ;
  grid-row-start: 1;
  align-self:self-end;
      }
.learning-footer{
    
    display: flex;
    border: 1px solid red;
    /*width: 100vw;*/
  /*  height: 2rem;
    bottom: 0rem;
   margin: auto;*/
}
.tatoeba-disclaimer{
    
   font-family: Arial, Helvetica, sans-serif;
    
    
    }

    .switch-button{
        grid-column-start: 2;
        grid-row-start: 1;
        justify-self: end;
        align-self: self-end;
        border-radius: 10px;
        cursor: pointer;
        border: 0.1rem solid var(--text-color);
        background-color: rgb(21, 117, 161);
        height: 2rem;
        width: 6.5rem;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        z-index: 10;
       
    }
    .switch-button:hover{
      background-color: #7d84ab;
    }

    .sentence-counter{
        grid-column-start: 2;
        grid-row-start: 1;
        justify-self: center;
        align-self: self-end;
    }

    .card-td.line{

        border-top: 1px solid rgb(202, 202, 202);
        
    }

    /*bugfix* : the third-party script mandarinspot adds extra margin to the chinese characters*/
    ruby{
        margin: 0 !important;
        padding: 0 !important;
    }