   *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
   }
   :root     {
        --main-bg-color: rgb(12, 30, 53);
        --text-color: #7d84ab;
        --secondary-text-color: #dee2ec;
        --secondary-bg-color: rgb(11, 26, 44);
        background-color: rgb(253, 254, 255);
        }


.switch-sentence{
    position: fixed;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: var(--main-bg-color);
    font-weight: 700;
    margin-top: 2rem;
   


}
.switch-sentence.prev{
    left: 20rem;
    

}
.switch-sentence.next{
    right: 20rem;
}








.switch-button{
    position:absolute;
    border-radius: 10px;
    cursor: pointer;
    border: 0.1rem solid var(--text-color);
    background-color: rgb(21, 117, 161);
    height: 2rem;
    width: 6.5rem;
    right: 50px;
    top: 130px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
   
}
.switch-button:hover{
  background-color: #7d84ab;
}






/*Navbar*/

.nav{
    width: 100%;
    
    
   
  }
  .nav-list{
    width: 100%;
    padding: 0;
    
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2rem;
    color: white;
    
    align-items: center;
    justify-content: center;
    
   
    
    
  
    
    
    
  }
  .nav-container{
   
    display: flex;
    flex-direction: column;
    background-color: rgb(11, 26, 44);
    width: 10rem;
    height: 100vh; /*change this to occupy entire page*/
   
  }
  .nav-li{
     
    width: 100%;
    
    margin-top: 1.5rem;
    height: 3rem;
   
    
    
    
    
  }
  .nav-a{
    
    text-align: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    
  }
  .nav-li:hover{
    
    background-color: rgb(11, 50, 80);
  }