   *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
   }
   :root     {
        --main-bg-color: rgb(12, 30, 53);
        --text-color: #7d84ab;
        --secondary-text-color: #dee2ec;
        --secondary-bg-color: rgb(11, 26, 44);
        background-color: rgb(253, 254, 255);
        }



















